body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}

#container {
    text-align: center;
    border: 1px solid black;
}

#userbox {
    width: 200px;
}