body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}

#upload {
    text-align: center;
    border: 1px solid black;
}

#header {
    margin-bottom: 4px;
}