body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}

#container {
   text-align:center;
}

.title {
   font-size: 28px;
}

.invalid {
   text-align:center;
   color:red;
   width:100%;
}